/* Practice with Media Query to make website responsive */

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 0;
}
/* Lets set the width of the header content div to and center it */
.hcontent {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* TIMOTHY WADE COOK */
.myName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: white;
    font-size: 22px;
    padding: 13px;
    margin: 0;
    text-align: center;
    width: 400px;
    line-height: 50px;
}

/* ABOUT  PORTFOLIO  CONTACT */
.menu {
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    line-height: 50px;
    float:  right;
    width: 100px;
    text-align: center;
}

.menu:hover {
    background-color: #4aaaa5;
    color: white;
    opacity: 0.8;
}
.menu:active {
    background-color: #666;
    color: white;
    opacity: 1;
}




/*  set the background image  */
body {
    background-image: url("https://www.backgroundsy.com/file/large/digital-waves-background.jpg");
}

/* Style the first text that serves as the title of the content container  */
h1 {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 10px 0 10px 0;
}

/* Style the About Me Picture - It should float left with a little padding */
.contentPic {
    float: left;
    padding: 10px 10px 10px 0;
    width: 200px;
}

/* General style for content containers on all pages  */
.container {
    clear: both;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 30px;
    box-sizing: border-box;
    width: 960px;
    margin: 50px auto;
    line-height: 2em;
    overflow: auto;
}

.footer {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    color: white;
    background-color: #666666;
    text-align: center;
    border-top: 2px solid #4aaaa5;
    line-height: 50px;
}


.inputLine {
    width: 100%;
    box-sizing: border-box;
    color: lightgray;
    padding: 5px;
    border-radius: 3px;
}


.inputPar {
    color: gray;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    height: 10em;
    border-radius: 3px;
}


.submitBtn {
    font-size: 20px;
    padding: 10px;
    background-color: #4aaaa5;
    color: white;
    border-color: white;
}
.submitBtn:hover {
    border-radius: 10px;
}
.submitBtn:active {
    background-color: #666;
    color: white;
}



/* Set the general style for image links that will link to portfolio websites 
    we want the image inside to fit the full imageBtn div wxh and be square
    so the image will be expanded to fit the square, and centered and cropped */
.imageBtn {
    width: 278px;
    height: 278px;
    margin: 10px;
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
/* when hovering over the portfolio item, change the radius to make it look like a circle */
.imageBtn:hover {
    border-radius: 139px;
}




/* Style the portfolio images so they fit in the parent <div>  */
.imageLink {
    position: absolute; 
    height: 100%;
    margin: auto;
}

/* Style and position the text box that will sit on the parent imageBtn - goal is to sit it near the bottom */
.textOverlay {
    width: 100%;
    line-height: 3em;
    position: absolute;
    bottom: 0;
    background-color: #4aaaa5;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    text-align: center;
}


/* Sticky Footer  */
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
.footer, .push {
    height: 50px;
}





/* Media Queries 
    Let's make it responsive based on 3 break points 
    with a mobile-first plan:
    less than 320 = default 
    min: 320 (small) 
    min: 768 (med)
    min: 1024 (lrg) */

@media screen and (max-width: 290px) {
    header {
        width: 290px;
    }
    .footer {
        width: 290px;
    }
    .container{
        width: 260px;
        margin: 15px 14.5px;
        padding: 15px;
        clear: both;
    }
    .hcontent {
        width: 290px;
        overflow: auto;
    }
    .myName {
        width: 290px;
        display: block;
        clear: both;
    }
    .menu {
        width: 96.66px;
    }
    p {
        font-size: 12px;
    }
    .contentPic {
        float: none;
        margin: auto;
        display: block;
    }
    .imageBtn {
        float: none;
        width: 220px;
        height: 220px;
        margin: 20px auto;
    }

}

/* When the screen is smaller than 1000 px */
@media screen and (min-width: 290px) and (max-width: 450px) {
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        clear: both;
    }
    .hcontent {
        width: 100%;
        overflow: auto;
    }
    .myName {
        width: 100%;
        display: block;
        clear: both;
    }
    .menu {
        width: 33.33%;
        /* float: none; */
    }
    p {
        font-size: 12px;
    }
    .contentPic {
        float: none;
        margin: auto;
        display: block;
    }
    .imageBtn {
        float: none;
        width: 220px;
        height: 220px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 450px) and (max-width: 750px) {
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        clear: both;
    }
    .hcontent {
        width: 100%;
        overflow: auto;
    }
    .myName {
        width: 100%;
        display: block;
        clear: both;
    }
    .menu {
        width: 33.33%;
    }
    .imageBtn {
        float: none;
        width: 278px;
        height: 278px;
        margin: 20px auto;
    }
    
    }

/* Style changes for large screen / desktops */
@media screen and (min-width: 750px) and (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        clear: both;
    }
    .hcontent {
        width: 100%;
        overflow: auto;
    }
    .gallery {
        width: 600px;
        margin: auto;
    }


}


