

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 0;
}
/* Lets set the width of the header content div to and center it */
.hcontent {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* TIMOTHY WADE COOK */
.myName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: white;
    font-size: 22px;
    padding: 13px;
    margin: 0;
    text-align: center;
    width: 400px;
    line-height: 50px;
}

/* ABOUT  PORTFOLIO  CONTACT */
.menu {
    text-decoration: none;
    color: #777777;
    line-height: 50px;
    float:  right;
    margin-left: 20px;
}

/*  set the background image  */
body {
    background-image: url("https://www.backgroundsy.com/file/large/digital-waves-background.jpg");
}

/* Style the first text that serves as the title of the content container  */
h1 {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 10px 0 10px 0;
}

/* Style the About Me Picture - It should float left with a little padding */
.contentPic {
    float: left;
    padding: 10px 10px 10px 0;
    width: 150px;
}

/* General style for content containers on all pages  */
.container {
    clear: both;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 30px;
    box-sizing: border-box;
    width: 960px;
    margin: 50px auto;
    line-height: 2em;
}

.footer {
    position: fixed;
    bottom: .0;
    width: 100%;
    color: white;
    background-color: #666666;
    text-align: center;
    border-top: 2px solid #4aaaa5;
    line-height: 50px;

}











.inputLine {
    width: 100%;
    box-sizing: border-box;
    color: gray;
    padding: 5px;
    /* border-radius: 3px; */

}


.inputPar {
    color: gray;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    height: 10em;
    /* border-radius: 3px; */

}

.submitBtn {
    font-size: 20px;
    background-color: #4aaaa5;
    color: white;
}






/* Set the general style for image links that will link to portfolio websites 
    we want the image inside to fit the full imageBtn div wxh and be square
    so the image will be expanded to fit the square, and centered and cropped */
.imageBtn {
    width: 250px;
    height: 250px;
    margin: 10px;
    display: block;
    position: relative;
    /* float: left; */
    overflow: hidden;

}

/* Style the image links that go to portfolio pages */
.imageLink {
    /* max-width: 100%;
    max-height: 100%; */
    position: absolute; 
    height: 100%;
    position: absolute;
    margin: auto;
}


/* Style and position the text box that will sit on the parent imageBtn - goal is to sit it near the bottom */
.textOverlay {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    background-color: #4aaaa5;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    text-align: center;
}